@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: lucida handwriting;
  font-size: 14px;
  background-image: url(../images/fashion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 500px;
  margin: 25px auto;
 
}

.title {
  margin-bottom: 1rem;
  justify-content: center;
  display: flex;
  color: #000e13;
  font-weight: 600;
  font-size: 4rem;
}

form {
  padding: 20px;
  background-color: #01151ca1;
  color: #fff;
  border-radius: 4px;
  width: 45%;
  margin-left: 27%;
  
}
#sub{
  border-radius: 45px;
  margin-left: 32% !important;
  background-color: #388b9e;
 

}
form label,
form input,
form button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  justify-content: center;
  display: flex;

}
form input {
  height: 35px;
  line-height: 20px;
  background: #fff;
  color: #000;
  padding: 0 7px;
  box-sizing: border-box;
  margin-left: 19%;
  width: 70%;
 
}
 form button {
  height: 30px;
  line-height: 30px;
  color: #fff;
 
  font-weight: bold;
  margin-top: 1.5rem;
  
  cursor: pointer;
  width: 27%; 
}
form .error {
  color: #ff0000;
}

.article-reference {
  margin-top: 15px;
}
.article-reference a {
  color: #e67e22;
}
#submit{
   display: flexbox;
   margin-left: 36%;
}
