*{
  font-family: lucida handwriting;
  font-size: medium;
  overflow-x: hidden;
}
body{
  background-image: url(../images/backdrop.jpg);
}
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* logo */
/* logo */

#logo{
  position:absolute;
  width: 8%;
  height: 12%;  
  /* background-color: #fff; */
}
nav {
  overflow: auto;
  margin: 0 auto;
  /* background-color: rgba(114, 204, 210, 0.781); */
  background: linear-gradient(#b6b6f8,#7bc7f9, white, #ffeee6);
  box-shadow: 0px 5px 0px #dedede;
  
 }
  
  nav ul {
    margin-left:25%; 
    list-style: none;
    text-align: center;
}
  nav ul li {
    float: left; 
     padding-left: 3%;
}
  nav ul li a {
    display: block;
    padding:  20px 15px;
    text-decoration: none;
    color: #37a5ee;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #555;
  }
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
  position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  nav.fill ul li a {
    transition: all 2s;
  }
  
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  /* Circle */
  nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  nav.circle ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
  }
  nav.circle ul li a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
  }
  /* SHIFT */
  nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #0c0c0b;
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #24abd4;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  }
  /* * {
    box-sizing: border-box; */

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #102f36;

}
.container {
    width: 100%;
    display: flex;
    padding: 0, 20px;
    user-select: none;
}
.slide {
    height: 80vh;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    color: white;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
}
.slide h3 {
    position: absolute;
    font-size: 10vh;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.active {
    box-shadow: 0 5px 20px black;
    flex: 10;
}
.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
h3{
  color: #1E332F;
}
.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: rgba(0, 0, 0, 0);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  background-color: #04aa6d00;
  color: rgba(255, 255, 255, 0);
}

.logo {
  width: 7%;
}
.nav-items{
  position: relative;
	
	text-decoration: none;
	color: #fff;
	font-size: 0.5em;
	letter-spacing: 4px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0);
}
.nav-items:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	background: rgba(255, 255, 255, 0);
}
.nav-items:after{
	content: '';
	position: absolute;
	top: 0;
	left: -20%;
	width: 20%;
	height: 100%;
	background: linear-gradient(90deg,transparent,rgba(80, 163, 215, 0.829),transparent);
	transition: 0.5s;
	transition-delay: 0.2s;
}
.nav-items:hover:after{
	left: 100%;
  
}
.nav-items span{
	position: absolute;
	display: block;
	transition: 0.5s ease;
}
.nav-items span:nth-child(1)
{
	top: 0;
	left: 0;
	width: 0;
	height: 1px;
	background: #fff;
}
.nav-items:hover span:nth-child(1)
{
	width: 100%;
	transform: translateX(100%);
}
.nav-items span:nth-child(3)
{
	bottom: 0;
	right: 0;
	width: 0;
	height: 1px;
	background: rgba(255, 255, 255, 0.479);
}
.nav-items:hover span:nth-child(3)
{
	width: 100%;
	transform: translateX(-100%);
}
.topnav{
  margin-top: 1%;
}
footer .icon {
  margin-left: 46%;
  padding-top: 5%;
  height: 35%;
}

footer {
  background: linear-gradient(#102f36, #154651, #1b5967, #ffeee6);
  padding-top: 2%;
  padding-bottom: 3%;
  width: 100%;
}

.fa-brands {
  float: left;
  padding-left: 2%;
  color: #000000;
  font-size: xx-large;
}

.fa-brands:hover {
  color: rgb(44, 60, 61);
}

p {
  text-align: center;
  color: black;
}

h5 {
  font-size: 4rem !important;
  color: #24abd4;
}

h4 {
  padding-top: 2%;
  text-align: center;
  color: #226979;
}

.heading {
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
}
